<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="OpenFlowDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Den\source\repos\openFlow_v2\TabularSystemTest\OpenFlowDatabase.mdf;Integrated Security=True" />
  <add name="TabularSystemTest.Properties.Settings.OpenFlowDatabaseConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\OpenFlowDatabase.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>